server/uts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/uts/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="uts" targetNamespace="http://www.example.org/uts/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/uts/">
      <xsd:element name="tambah">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="tambahResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="prm" type="tns:prmType"></xsd:element>

      <xsd:complexType name="prmType">
      	<xsd:sequence>
      		<xsd:element name="prm1" type="xsd:int"></xsd:element>
      		<xsd:element name="prm2" type="xsd:int"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="out">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="kurang">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="prmKurang" type="tns:prm2Type"></xsd:element>

      <xsd:complexType name="prm2Type">
      	<xsd:sequence>
      		<xsd:element name="prm1" type="xsd:int"></xsd:element>
      		<xsd:element name="prm2" type="xsd:int"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="prmTambah" type="tns:prmTambahType"></xsd:element>

      <xsd:complexType name="prmTambahType">
      	<xsd:sequence>
      		<xsd:element name="prm1" type="xsd:int"></xsd:element>
      		<xsd:element name="prm2" type="xsd:int"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="hello">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="data" type="tns:dataType"></xsd:element>

      <xsd:complexType name="dataType">
      	<xsd:sequence>
      		<xsd:element name="nama" type="xsd:string"></xsd:element>
      		<xsd:element name="nim" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="a" type="tns:Type"></xsd:element>

      <xsd:complexType name="Type">
      	<xsd:sequence>
      		<xsd:element name="out" type="xsd:int"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="b" type="tns:outType"></xsd:element>

      <xsd:complexType name="outType">
      	<xsd:sequence>
      		<xsd:element name="out" type="xsd:int"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="c" type="tns:cType"></xsd:element>

      <xsd:complexType name="cType">
      	<xsd:sequence>
      		<xsd:element name="out" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="tambahRequest">
    <wsdl:part name="prmTambah" element="tns:prmTambah" />
  </wsdl:message>
  <wsdl:message name="tambahResponse">
    <wsdl:part name="outTambah" element="tns:a" />
  </wsdl:message>
  <wsdl:message name="outRequest">
  </wsdl:message>
  <wsdl:message name="outResponse">
  	<wsdl:part name="out" type="xsd:int"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="kurangRequest">
  	<wsdl:part name="prmKurang" element="tns:prmKurang"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="kurangResponse">
  	<wsdl:part name="outKurang" element="tns:b"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="helloRequest">
  	<wsdl:part name="parameters" element="tns:data"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="helloResponse">
  	<wsdl:part name="helloResponse" element="tns:c"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="uts">
    <wsdl:operation name="tambah">
      <wsdl:input message="tns:tambahRequest"/>
      <wsdl:output message="tns:tambahResponse"/>
    </wsdl:operation>
    <wsdl:operation name="kurang">
    	<wsdl:input message="tns:kurangRequest"></wsdl:input>
    	<wsdl:output message="tns:kurangResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hello">
    	<wsdl:input message="tns:helloRequest"></wsdl:input>
    	<wsdl:output message="tns:helloResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="utsSOAP" type="tns:uts">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="tambah">
  		<soap:operation
  			soapAction="http://www.example.org/uts/tambah" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="kurang">
  		<soap:operation
  			soapAction="http://www.example.org/uts/kurang" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="hello">
  		<soap:operation soapAction="http://www.example.org/uts/hello" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="uts">
    <wsdl:port binding="tns:utsSOAP" name="utsSOAP">
      <soap:address location="http://localhost/latihan/utswebservice/q9y7h9khn/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
